<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout>
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/nav :: nav"></div>
    <h3 class="text-center mt-3">Students</h3>
    <div class="row">
        <div class="col-lg-2 bg-secondary pt-3">
            <a class="nav-link text-white fw-bold" th:href="@{'/filter-city/' + ${city.id}}" th:each="city:${cities}" th:text="${city.cityName}"></a>
        </div>
        <div layout:fragment="content"></div>
    </div>
</div>

</body>
</html>