<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/layout">
<body>
<div class="col-lg-9" layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">City</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <th scope="row" th:text="${student.id}"></th>
            <td th:text="${student.name}"></td>
            <td th:text="${student.birthday}"></td>
            <td th:text="${student.city}"></td>
            <td><a th:href="@{'/details/' + ${student.id}}" class="btn btn-success">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--            <ul class="nav bg-secondary">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" th:href="@{'/'}">All Students</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#addStudent">Add Student</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" th:href="@{'/cities'}">Cities</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h3 class="text-center">Students</h3>-->
<!--    <div class="row">-->
<!--        <div class="col-lg-3 bg-secondary">-->
<!--            <a class="nav-link text-white fw-bold" href="">Almaty</a>-->
<!--            <a class="nav-link text-white fw-bold" href="">Uralsk</a>-->
<!--            <a class="nav-link text-white fw-bold" href="">Shimkent</a>-->
<!--        </div>-->
<!--        -->
<!--        <div class="col-lg-9">-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">#</th>-->
<!--                    <th scope="col">Name</th>-->
<!--                    <th scope="col">Birthday</th>-->
<!--                    <th scope="col">City</th>-->
<!--                    <th scope="col">Details</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="student : ${students}">-->
<!--                    <th scope="row" th:text="${student.id}"></th>-->
<!--                    <td th:text="${student.name}"></td>-->
<!--                    <td th:text="${student.birthday}"></td>-->
<!--                    <td th:text="${student.city}"></td>-->
<!--                    <td><a th:href="@{'/details/' + ${student.id}}" class="btn btn-success">Details</a></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="addStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/add-student'}" method="post">
                    <div class="mb-3">
                        <label for="studentName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="studentName" name="studentName">
                    </div>
                    <div class="mb-3">
                        <label for="studentBirthday" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="studentBirthday" name="studentBirthday">
                    </div>
                    <div class="mb-3">
                        <label for="studentCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="studentCity" name="studentCity">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>